.bg-dark {
  background: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.custom-img {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 20px;
  aspect-ratio: 1 / 1;
}

.custom-buttons button {
  color: white;
  border-color: white;
}

.custom-buttons > div {
  border-color: white;
}
.shopping-card {
  position: fixed;
  top: 0;
  right: 10px;
}

[class*="_productCard"]:hover {
  z-index: 3;
}
